<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="padding-right: 0px; min-width: 50px;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand btn btn-white" href="#">STEAM Blog Demo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
<!--         <li class='btn btn-white btn-simple' >
            <a href="about.html">About</a>
        </li>
        <li class='btn btn-white btn-simple'>
            <a href="contact.html">Contact</a>
        </li> -->
        <li class="dropdown btn btn-white btn-simple">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="portfolio-1-col.html">Science</a>
                </li>
                <li>
                    <a href="portfolio-2-col.html">Technology</a>
                </li>
                <li>
                    <a href="portfolio-3-col.html">Engineering</a>
                </li>
                <li>
                    <a href="portfolio-4-col.html">Art</a>
                </li>
                <li>
                    <a href="portfolio-item.html">Mathmatics</a>
                </li>
            </ul>
        </li>
        <li class="btn btn-white btn-simple">
        </li>
        <% if user_signed_in? %>
          <li class='btn btn-white btn-simple'>
            <%= link_to t("Sign Out"), destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class='btn btn-white btn-simple'>
            <%= link_to t("Sign In"), new_user_session_path %>
          </li>
          <li class='btn btn-white btn-simple'>
            <%= link_to t("Sign Up"), new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>